Repository CosmoQuestX/CSB7.0, pull requests merged in 2022-08, with the labels that each got.

#122 Made $SITE_NAME global.
  csb/csb-loader.php
Labels: bug

#127 Made some scalability optimizations to Docker
  .docker/node/Dockerfile
  .docker/node/entrypoint.sh
  .docker/php/Dockerfile
  docker-compose.yml
Labels: Docker

#149 Minor installer text changes
  csb/csb-installer/index.php
Labels: installer

#152 Change $php_min_version to $php_min_version_readable in requirements
  csb/csb-installer/index.php
Labels: installer

#151 wrapping additional `/` with `calc()`
  csb/csb-themes/default/sass/_card.scss
Labels: sass
